{# app/Resources/views/blog/index.html.twig #}
{% extends 'base.html.twig' %}


{% block title %}My cool blog posts{% endblock %}

{% block body %}
 {{ parent() }}

 <div class="block_char" id="barchart" style="min-width: 210px;  max-width: 610px;  height: 230px; "></div>
<div class="block_char" id="barchart1" style="min-width: 210px;  max-width: 610px;  height: 230px; "></div>
  <div class="block_char" id="barchart2" style="min-width: 210px;  max-width: 610px;  height: 230px; "></div>
    <div class="block_char" id="barchart3" style="min-width: 210px;  max-width: 610px;  height: 230px; "></div>

{% endblock %}
 {% block javascripts %}
  {{ parent() }}
   <script type ="text/javascript" src="{{ asset('build/transport.js') }}"></script>

  {% endblock %}
